{% extends 'base/base.html' %}
{% block title %} Lista de reportes {% endblock %}
{% block content %}



<div class="table-responsive">
	
	<br>
<table class="table table-hover">

		
	<thead>
		<tr class="info">
			<td>#</td>
			<td>Nombre(s)</td>
			<td>Direccion</td>
			<td>Ciudad</td>
			<td>Telefono</td>
			<td>E-mail</td>
			<td>Acciones</td>


		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for clientes in object_list %}
		<tr>
			<td>{{ clientes.id }}</td>
			<td>{{ clientes.cliente  }}</td>
			<td>{{ clientes.direccion  }}</td>
			<td>{{ clientes.ciudad  }}</td>
			<td>{{ clientes.telefono}}</td>
			<td>{{ clientes.email }}</td>
			<td>
					{% if perms.reportes.change_reportes %}
					<a class="btn btn-primary" href="{% url 'reportes_editar' clientes.id %}" ><span class="glyphicon glyphicon-pencil"></span></a>
					{% endif %}
	
					{% if perms.reportes.delete_reportes %}
					<a class="btn btn-danger" href="{% url 'reportes_eliminar' clientes.id %}"><span class="glyphicon glyphicon-trash"></span></a>
					{% endif %}
			</td>

			</td>

		</tr>
		{% endfor %}

		{% else %}
		<h1>No Hay registros</h1>

		{% endif %}
	</tbody>
</table>
</div>
<ul class="pager">

	{% if page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
	</li>
	{% endif %}
	<li>
	{% if page_obj.has_next %}		
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
	</li>		
	{% endif %}


</ul>


{% endblock %}