{% extends 'base/base.html' %}

{% block title %} Editar cliente {% endblock %}
{% block content %}
<form method="post">

	{% csrf_token %}
	
	<div class="row">
			

		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.cliente.name}}">{{form.cliente.label}}</label>
				{{form.cliente}}
			</div>

		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.direccion.name}}">{{form.direccion.label}}</label>
				{{form.direccion}}
			</div>
		</div>
		<div class="col-md-3 col-md-offset-0" >
			<div class="form-group">
				<span  id="ciudad">
				<label for="{{form.ciudad.name}}">{{form.ciudad.label}}</label>
				{{form.ciudad}}
				</span>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.telefono.name}}">{{form.telefono.label}}</label>
				<div class="input-group">
						<div class="input-group-addon">   
							<span class="glyphicon glyphicon-earphone"></span>
						</div> 
						{{form.telefono}}
				</div>		
			</div>
		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.email.name}}">{{form.email.label}}</label>
				<div class="input-group">
						<div class="input-group-addon">   
							@
						</div> 
						{{form.email}}
				</div>		
			</div>
		</div>

	</div>
	
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
<script> 
        $(document).ready(function(){
            document.getElementById('id_cliente').placeholder="nombre del cliente";
            document.getElementById('id_direccion').placeholder="Dirección";
            document.getElementById('id_ciudad').placeholder="Ciudad";
            document.getElementById('id_telefono').placeholder="Telefono";
            document.getElementById('id_email').placeholder="E-mail";
   
    
        });
    
</script>
{% endblock %}