{% extends 'base/base.html' %}
{% block title %} Lista de empleados {% endblock %}
{% block content %}



<div class="table-responsive">
	
	<br>
<table class="table table-hover">

		
	<thead>
		<tr class="info">
			<td>Nombre(s)</td>
			<td>Apellidos</td>
			<td>Domicilio</td>
			<td>Telefono</td>
			<td>E-mail</td>


		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for empleados in object_list %}
		<tr>
			<td>{{ empleados.nombre  }}</td>
			<td>{{ empleados.apellidos  }}</td>
			<td>{{ empleados.domicilio  }}</td>
			<td>{{ empleados.telefono}}</td>
			<td>{{ empleados.email }}</td>


			</td>

		</tr>
		{% endfor %}

		{% else %}
		<h1>No Hay registros</h1>

		{% endif %}
	</tbody>
</table>
</div>
<ul class="pager">

	{% if page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
	</li>
	{% endif %}
	<li>
	{% if page_obj.has_next %}		
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
	</li>		
	{% endif %}


</ul>
<script> 



	$(document).ready(function(){
		

	});

	function buscar(){
		var $buscar = $("#buscar").val();

		
		if($buscar == ""){
			
		}
		else{
			$.ajax({
				dataType: "json",
				data: {"buscador": $buscar},
				type: "GET",
				url: 'buscar',
				
				beforeSend: function(){},
				success: function(data){

					alert(data)
					for (var i = 0; i <= data.length; i++){
						
						
					}

					
				},
				error: function(xhr,err){
					alert("readyState ="+ xhr.readyState + " direccion = " + xhr.status + "respuesta =" + xhr.responseText);

				},

			});
		}
	}




</script>

{% endblock %}