{% extends 'base/base.html' %}
{% block title %} Nuevo Empleado {% endblock %}

{% block content %}
<form method="post">

	{% csrf_token %}
	<h2>Empleado nuevo</h2>
	
	<div class="row">
			

		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.nombre.name}}">{{form.nombre.label}}</label>
				{{form.nombre}}
			</div>

		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.apellidos.name}}">{{form.apellidos.label}}</label>
				{{form.apellidos}}
			</div>
		</div>
		<div class="col-md-3 col-md-offset-0" >
			<div class="form-group">
				<span  id="ciudad">
				<label for="{{form.domicilio.name}}">{{form.domicilio.label}}</label>
				{{form.domicilio}}
				</span>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.telefono.name}}">{{form.telefono.label}}</label>
				<div class="input-group">
						<div class="input-group-addon">   
							<span class="glyphicon glyphicon-earphone"></span>
						</div> 
						{{form.telefono}}
				</div>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.email.name}}">{{form.email.label}}</label>
				<div class="input-group">
						<div class="input-group-addon">   
							<span>@</span>
						</div> 
						{{form.email}}
				</div>
			</div>
		</div>

	</div>
	
<button type="submit" class="btn btn-primary">Guardar</button>
</form>
<script> 
        $(document).ready(function(){
            document.getElementById('id_nombre').placeholder="Nombre del empleado";
            document.getElementById('id_apellidos').placeholder="Apellido del empleado";
            document.getElementById('id_domicilio').placeholder="Domicilio";
            document.getElementById('id_telefono').placeholder="Telefono";
            document.getElementById('id_email').placeholder="E-mail";
   
    
        });
    
</script>
{% endblock %}