{% extends 'base/base.html' %}
{% block title %} Lista de productos {% endblock %}
{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Cantidad</td>
			<td>Nombre</td>			
			<td>Descripcion</td>
			<td>Proveedor</td>
			<td>Cliente</td>
			<td>Fecha recibido</td>
			<td>Precio</td>
			
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for equipos in object_list %}
		<tr>			
			<td>{{ equipos.cantidad  }}</td>
			<td>{{ equipos.nombre  }}</td>
			<td>{{ equipos.descripcion  }}</td>
			<td>{{ equipos.proveedor  }}</td>
			<td>{{ equipos.cliente  }}</td>
			<td>{{ equipos.fecha_recibido  }}</td>
			<td>{{ equipos.precio }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'equipo_editar' equipos.id %}" >Editar</a>
				<a class="btn btn-danger" href="{% url 'equipo_eliminar' equipos.id %}" >Eliminar</a>
			</td>

		</tr>>
		{% endfor %}

		{% else %}
		<h1>No Hay Productos</h1>

		{% endif %}
	</tbody>


</table>



{% endblock %}