{% extends 'base/base.html' %}
{% block title %} Lista de productos {% endblock %}
{% block content %}

<p>
	{% if perms.equipo.add_equipo %}
	<a class="btn btn-success btn-sm col-md-offset-10" href="{% url 'equipo_nuevo' %}" align=right>+ Agregar equipo</a>
	{% endif %}
	</p>


<div class="table-responsive">
<table class="table table-hover">
	<thead>
		<tr class="info">
			<td>#</td>
			<td>Cantidad</td>
			<td>Nombre</td>			
			<td>Descripcion</td>
			<td>Proveedor</td>
			<td>Cliente</td>
			<td>Fecha recibido</td>
			<td>Precio</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for equipos in object_list %}
		<tr>
			<td>{{ equipos.id }}</td>			
			<td>{{ equipos.cantidad  }}</td>
			<td>{{ equipos.nombre  }}</td>
			<td>{{ equipos.descripcion  }}</td>
			<td>{{ equipos.proveedor  }}</td>
			<td>{{ equipos.cliente  }}</td>
			<td>{{ equipos.fecha_recibido  }}</td>
			<td>$ {{ equipos.precio }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'equipo_ver' equipos.id %}" ><span class="glyphicon glyphicon-eye-open"></span></a>
				{% if perms.reportes.change_equipo %}
				<a class="btn btn-primary" href="{% url 'equipo_editar' equipos.id %}" ><span class="glyphicon glyphicon-pencil"></span></a>
				{% endif %}
				{% if perms.reportes.delete_equipo %}
				<a class="btn btn-danger" href="{% url 'equipo_eliminar' equipos.id %}" ><span class="glyphicon glyphicon-trash"></span></a>
				{% endif %}
			</td>

		</tr>
		{% endfor %}

		{% else %}
		<h1>No Hay Productos</h1>

		{% endif %}
	</tbody>


</table>
</div>


{% endblock %}