{% extends 'base/base.html' %}

{% block title %} Pendientes {% endblock %}
{% block content %}
<form method="post">

    {% csrf_token %}
    {% if perms.pendientes.add_pendientes %}
    <button type="submit" class="btn btn-success btn-sm col-md-2 col-md-offset-10 ">Guardar</button>
    {% endif %}
    <div class="row">
            
        <div class="col-md-6 col-md-offset-0">
            <div class="form-group">
                <label for="{{form.descripcion.name}}">{{form.descripcion.label}}</label>
                {{form.descripcion}}
            </div>
        </div>
        <div class="col-md-3 col-md-offset-0">
            <div class="form-group ap-date" >
                    
                    <label for="{{form.fecha.name}}">{{form.fecha.label}}</label>
                    <div class="input-group">
                            <div class="input-group-addon">   
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                                {{form.fecha}}
                    </div>    
            </div>
        </div>    
        <div class="col-md-3 col-md-offset-0">
            <div class="form-group">                                
                    <label for="{{form.asignar.name}}">{{form.asignar.label}}</label>
                
                    {{form.asignar}}
            </div>

        </div>

    </div>

</form>


<br>
<table class="table table-hover">
	
        <thead>
            <tr class="info">
                <td>Descripcion</td>
                <td>Fecha</td>
                <td>asignar</td>

            </tr>
    
        </thead>
        <tbody>
                {% if objects %}
                {% for pendientes in objects %}
                <tr>
                    <td>{{ pendientes.descripcion  }}</td>
                    <td>{{ pendientes.fecha  }}</td>
                    <td>{{ pendientes.asignar  }}</td>
                
                </tr>
                {% endfor %}
            {% else %}
            <h1>No Hay registros</h1>
    
            {% endif %}
        </tbody>
    </table>

<script>
    
    $('#id_fecha').datepicker({
        format: "dd/mm/yyyy",
		autoclose: true,
		todayBtn: true,
		todayHighlight: true,
		language: 'es'
    });


</script>
<script> 
        $(document).ready(function(){
            var f = new Date();
            var fecha = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
            document.getElementById('id_fecha').value=fecha;
   
        });
    
    </script>
{% endblock %}