{% extends 'base/base.html' %}

{% load bootstrap3 %}
{% block content %}


<form method="post">

	{% csrf_token %}
	<div class="row">
			
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.fecha_recibido.name}}">{{form.fecha_recibido.label}}</label>
				{{form.fecha_recibido}}
			</div>
		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.equipo_recibido.name}}">{{form.equipo_recibido.label}}</label>
				{{form.equipo_recibido}}
			</div>
		</div>
	
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.cliente.name}}">{{form.cliente.label}}</label>
				{{form.cliente}}
			</div>

		</div>

		<div class="col-md-6 col-md-offset-0" row="2">
			<div class="form-group">
				<label for="{{form.trabajo_realizado.name}}">{{form.trabajo_realizado.label}}</label>
				{{form.trabajo_realizado}}
			</div>
		</div>

		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.direccion.name}}">{{form.direccion.label}}</label>
				{{form.direccion}}
			</div>
		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.falla_reportada.name}}">{{form.falla_reportada.label}}</label>
				{{form.falla_reportada}}
			</div>
		</div>
		<div class="col-md-3 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.ciudad.name}}">{{form.ciudad.label}}</label>
				{{form.ciudad}}
			</div>
		</div>
		<div class="col-md-3 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.telefono.name}}">{{form.telefono.label}}</label>
				{{form.telefono}}
			</div>
		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.email.name}}">{{form.email.label}}</label>
				{{form.email}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.realizado.name}}">{{form.realizado.label}}</label>
				{{form.realizado}}
			</div>
		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.atendido.name}}">{{form.atendido.label}}</label>
				{{form.atendido}}
			</div>
		</div>
		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.observaciones.name}}">{{form.observaciones.label}}</label>
				{{form.observaciones}}
			</div>
		</div>
		<div class="col-md-3 col-md-offset-9">
			<div class="form-group">
				<label for="{{form.total.name}}">{{form.total.label}}</label>
				{{form.total}}
			</div>
		</div>
	</div>
	<button type="submit">Guardar</button>

</form>

{% endblock %}