{% extends 'base/base.html' %}
{% block title %} Lista de reportes {% endblock %}
{% block content %}

<input type="text" name="buscador"><button class="btm btm-danger" type="submit" action='sistema/index.html'>Buscar</button>

<div class="table-responsive">
	{% if perms.reportes.add_reportes %}
	<a class="btn btn-success btn-sm col-md-offset-10" href="{% url 'reportes_nuevo' %}" align=right>+ Agregar reporte</a>
	{% endif %}
	<br>
<table class="table table-hover">

		
	<thead>
		<tr class="info">
			<td>Fecha</td>
			<td>No registro</td>
			<td>Cliente</td>
			<td>Aplicado en</td>
			<td>Atendido por</td>
			<td>Equipo recibido</td>
			<td>Falla reportada</td>
			<td>Trabajo realizado</td>
			<td>Observaciones</td>
			<td>Total</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for reportes in object_list %}
		<tr>
			<td>{{ reportes.fecha_recibido  }}</td>
			<td>{{ reportes.id  }}</td>
			<td>{{ reportes.cliente  }}</td>
			<td>{{ reportes.realizado}}</td>
			<td>{{ reportes.atendido }}</td>
			<td>{{ reportes.equipo_recibido  }}</td>
			<td>{{ reportes.falla_reportada  }}</td>
			<td>{{ reportes.trabajo_realizado  }}</td>
			<td>{{ reportes.observaciones  }}</td>
			<td>{{ reportes.total }}</td>
			<td>
				{% if perms.reportes.change_reportes %}
				<a class="btn btn-primary" href="{% url 'reportes_editar' reportes.id %}" ><span class="glyphicon glyphicon-pencil"></span></a>
				{% endif %}

				{% if perms.reportes.delete_reportes %}
				<a class="btn btn-danger" href="{% url 'reportes_eliminar' reportes.id %}"><span class="glyphicon glyphicon-trash"></span></a>
				{% endif %}
			</td>

		</tr>
		{% endfor %}

		{% else %}
		<h1>No Hay registros</h1>

		{% endif %}
	</tbody>
</table>
</div>
<ul class="pager">

	{% if page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
	</li>
	{% endif %}
	<li>
	{% if page_obj.has_next %}		
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
	</li>		
	{% endif %}


</ul>
<script> 



	$(document).ready(function(){
		

	});

	function buscar(){
		var $buscar = $("#buscar").val();

		
		if($buscar == ""){
			
		}
		else{
			$.ajax({
				dataType: "json",
				data: {"buscador": $buscar},
				type: "GET",
				url: 'buscar',
				
				beforeSend: function(){},
				success: function(data){

					alert(data)
					for (var i = 0; i <= data.length; i++){
						
						
					}

					
				},
				error: function(xhr,err){
					alert("readyState ="+ xhr.readyState + " direccion = " + xhr.status + "respuesta =" + xhr.responseText);

				},

			});
		}
	}




</script>

{% endblock %}