{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
		
	<thead>
		<tr>
			<td>Fecha</td>
			<td>No registro</td>
			<td>Cliente</td>
			<td>Aplicado en</td>
			<td>Atendido por</td>
			<td>Equipo recibido</td>
			<td>Falla reportada</td>
			<td>Trabajo realizado</td>
			<td>Observaciones</td>
			<td>Total</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for reportes in object_list %}
		<tr>
			<td>{{ reportes.fecha_recibido  }}</td>
			<td>{{ reportes.id  }}</td>
			<td>{{ reportes.cliente  }}</td>
			<td>{{ reportes.realizado}}</td>
			<td>{{ reportes.atendido }}</td>
			<td>{{ reportes.equipo_recibido  }}</td>
			<td>{{ reportes.falla_reportada  }}</td>
			<td>{{ reportes.trabajo_realizado  }}</td>
			<td>{{ reportes.observaciones  }}</td>
			<td>{{ reportes.total }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'reportes_editar' reportes.id %}" >Editar</a>
				<a class="btn btn-danger" href="{% url 'reportes_eliminar' reportes.id %}" >Eliminar</a>
			</td>

		</tr>
		{% endfor %}

		{% else %}
		<h1>No Hay registros</h1>

		{% endif %}
	</tbody>
</table>
<ul class="pager">

	{% if page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
	</li>
	{% endif %}
	<li>
	{% if page_obj.has_next %}		
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
	</li>		
	{% endif %}


</ul>


{% endblock %}